{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 {% if title %}
  <title>My Galery - {{title}}</title>
  {% else %}
    <title> Makena's gallery </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/photos.css' %}">
  {% endblock %}
</head>
<body>
 {% include "navbar.html" %}
 {% block content %}
 {% endblock %}

 {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   {% bootstrap_javascript %}
 {% endblock %}
</body>
</html>